@page "/users"
@using SvHofkirchenHomepage.Services
@using SvHofkirchenHomepage.Models
@using Radzen
@using Radzen.Blazor
@inject DataService DataService
@inject AuthenticationService AuthService
@inject NavigationManager NavManager

<PageTitle>Benutzerverwaltung</PageTitle>

@if (!IsAuthorized) { <p>Nicht autorisiert.</p> }
else
{
    <RadzenText TextStyle="TextStyle.H3">👥 Benutzer</RadzenText>
    
    <RadzenDataGrid Data="@Users" TItem="UserDto" AllowSorting="true" AllowPaging="true" PageSize="10">
        <Columns>
            <RadzenDataGridColumn TItem="UserDto" Property="UserId" Title="ID" Width="50px" />
            <RadzenDataGridColumn TItem="UserDto" Property="UserName" Title="Benutzername" />
            <RadzenDataGridColumn TItem="UserDto" Property="UserEmail" Title="Email" />
            <RadzenDataGridColumn TItem="UserDto" Property="PermissionLevel" Title="Level" Width="80px" />
            <RadzenDataGridColumn TItem="UserDto" Title="Mitglied-ID" Width="100px">
                <Template Context="user">
                    @if(user.MemberId.HasValue) { <span>@user.MemberId</span> } else { <span style="color:#ccc">-</span> }
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
}

@code {
    private bool IsAuthorized = false;
    private List<UserDto> Users = new();

    protected override async Task OnInitializedAsync()
    {
        IsAuthorized = await AuthService.IsAuthenticated();
        if (!IsAuthorized) { NavManager.NavigateTo("/login"); return; }

        var data = await DataService.GetDataAsync();
        Users = data.User ?? new();
    }
}