<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="attendance">
                <span class="bi bi-check2-square-nav-menu" aria-hidden="true"></span> Anwesenheit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="statistics">
                <span class="bi bi-bar-chart-fill-nav-menu" aria-hidden="true"></span> Statistik
            </NavLink>
        </div>
    </nav>
</div>
@code {
    // Standard Code hier lassen...
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}